<% content_for(:head) do %>
  <style>
   h1 { color:blue }
  </style>
<% end %>

<p id="notice"><%= notice %></p>


<% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><i><%= post.author %> on <%= friendly_date post.created_at %></i></p>
    <p><font color='blue'><%= post.body %></p></font>
    
    <p><%= link_to 'Show', post %>
       <%= link_to 'Edit', edit_post_path(post) %>
       <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>


<br />

<%= link_to 'New Post', new_post_path %>
